doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 17 Challenge
        link(rel="stylesheet", href="../../css/styles.css")
        style. 
            section {
                padding: 0.5rem !important;
            }

    body.pug
        nav
            a(href="../index.html")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                    path(fill="#ffffff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z")
        main
            header
                h1 17 Challenge
                p Provides an exercise to apply the learned concepts.
            section
                    ul
                    each val, key in {1:'#08fafa', 2:'#17c8fa', 3:'#3296fa', 4:'#4b64fa', 5:'#6432fa', 6:'#7d01fa', 7:'#9601fa', 8:'#af01fa', 9:'#c801fa', 10:'#e101fa' }
                        li(style="height: 80px; list-style: none; margin:5px; background-color:"+val)
                            div(style="display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.7); color: white; font-size:30px; height: 80px; width: 80px;")=key
